.header{
      border: solid 1px rgb(255, 0, 0);
      max-width: 1300px;
}
.header_contenedor{
      border: solid;
      height: 200px;
      width:auto;
      margin-left: auto;
      margin-right: auto;
      display: block;
}
.pestaña{
      border: solid 1px #000000;
      margin: 10px 30px;
      padding: 10px 20px;
}
